/* estilos.css */
/* Estilos personalizados para tu aplicación */

body {
    background-image: url('../assets/ICU.gif');
    background-repeat: no-repeat;
    background-size: cover;

}

.buttonGreen:hover {
    background-color: white;
    color: green;
}

.buttonBlue:hover {
    background-color: white;
    color: blue;
}


.buttonRed:hover {
    background-color: white;
    color: red;
}

.card {
    background-color: rgba(137, 140, 118, 0.8);
    border: 1px solid #080808;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.footer {
    background-color: rgba(0, 0, 0, 0.4); 
    color: white; 
    padding: 10px;
    text-align: start;
    margin-top: auto; 
  }
  .my-modal .modal-content {
    background-color: rgba(137, 140, 118, 1);
  }